<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="FrameWorkProject.test2"/>
      <class name="FrameWorkProject.test1"/>
      <class name="FrameWorkProject.test4"/>
      <class name="FrameWorkProject.test3"/>
      <class name="FrameWorkProject.test5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
